API_AUTHENTICATION='3W9EuN9G'
API_PASSWORD='K7fDHRKJ'
FINISH_CALL_URL='http://app.atendesimples.com/api/v1/finished_call.json'
NEW_CALL_URL='http://app.atendesimples.com/api/v1/new_call'
CALL_TAG_URL='http://app.atendesimples.com/api/v1/call_tag'
CALL_TAG_CALLBACK_URL='http://187.60.56.172/{{ rails_environment.RACK_ENV }}/callTag'
GET_DATA_URL='http://app.atendesimples.com/api/v1/all_data.json'
DATABASE_URL='postgres://postgres:@localhost:5432/atendesimples_ws_{{ rails_environment.RACK_ENV }}'
RACK_ENV='{{ rails_environment.RACK_ENV }}'
NEW_RELIC_ENV='{{ rails_environment.RACK_ENV }}'
DB_POOL='11'
ROLLBAR_ACCESS_TOKEN='b952cbefadab40f4b232d129909224d8'
USER_DATA_URL='http://app.atendesimples.com/api/v1/user_data'
CALL_AUDIO_LIST_URL='http://app.atendesimples.com/api/v1/call_audio_data'
CALL_AUDIO_AVAILABLE_URL='http://app.atendesimples.com/api/v1/cdr_call_audio'
CALL_AUDIO_FTP_HOST='192.168.254.3'
CALL_AUDIO_FTP_PORT='21'
CALL_AUDIO_FTP_USER='prompt'
CALL_AUDIO_FTP_PASSWORD='At3Nd3s1Mpl35'
CALL_AUDIO_FTP_DIR='gravacao'
AWS_ACCESS_KEY_ID='AKIAJN37EKIIJ4HFBDQA'
AWS_SECRET_ACCESS_KEY='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'
FOG_REGION='sa-east-1'
APP_INTERACTION_URL='http://VOXAGE:06c946289826e8df24af391c924517ed@app.atendesimples.com/api/v1/interaction'
INCOMING_CALL_FLOW_URL='http://app.atendesimples.com/api/v1/incoming_call_flow'
